body {max-width:100%; background-color:#fadcfa;margin-left:auto; margin-right:auto; }
header {padding: 5px 5px; margin: auto; background-image: url('../images/background_image.png');border: 3px solid #b785d8}
header a {padding:10px; display: block; text-align: center; margin: 0 auto;}
header a:link {text-decoration: none; color: #000000;}
header a:visited {text-decoration: none; color: #000000;}
header a:hover {text-decoration: none; color:#b785d8; background-color: #f8e965}
header a:active {text-decoration: none; color:#7f3186}

@keyframes exterior_store {
    0% { opacity: 0% }
    100% { opacity: 100% }
  }

@media (prefers-reduced-motion) {
    .exterior_store{
      animation: none;
    }
  }

.exterior_store {
	width: 100%;
	height: auto;
	animation-name: exterior_store;
	animation-duration: 3s;}

.skip a{
	background: #f8e965;
	left: 0;
	padding: 6px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
	position: absolute;
	top: -40px;
	left: -500px;
	}
.skip a:focus{
	background: #f8e965;
	top: 0;
	left: 0;
	padding: 6px;
	z-index: 1;
	position: absolute;
	}

*:focus {
	border: 2px solid #4b1a50;
	}

nav{
	width:100%;
	margin: 0 auto;
	font-size: 12px;
}
.nav_links{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;}
/*nav {width:100%; margin: 0 auto; margin-top:30px; margin-bottom:30px;font-size: 20px;}*/

ul {margin-left:0px; padding-left:0; font-family: Lora, "Helvetica", sans-serif; } /*margin-left and padding-left properties overwrite default bullet points and padding*/
nav li{
	background-color: #faf1a4;
	padding: 10px;
	display: inline-block;
	width: 15%;
	border: #faf1a4;
	margin-left: 0 auto;
}

h1{font-family: Lora, "Helvetica", sans-serif; font-size: 32px; margin: 5px;}
h2{font-family: Lora, "Helvetica", sans-serif; font-size: 22px; margin: 5px;}
h3{font-family: Lora, "Helvetica", sans-serif; font-size: 20px; margin: 5px;}
p{font-family: Lora, "Helvetica", sans-serif; font-size: 15px; margin: 5px}

/*homepage formatting*/
.exterior_store {width:550px; height: 450px;}

/*product page formatting*/
/*figure {display: inline-block;}*/
.bakery_title{text-align: center;}
.gallery{display: flex;
flex-wrap: wrap;
justify-content: center;}
figcaption {text-align:center; font-family: Lora, "Helvetica", sans-serif;}
.product_figure{padding: 5px;}
.product {width: 400px; height: 500px;}
.product:hover {opacity: 70%;}

/*blog page formatting*/
.fa-solid{
	font-size: 32px;
	padding: 2%;
	color: rgb(65, 20, 80)}

.blog_pic {width: 100%}

.aside{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;}

.ingredients_list{
	padding-left: 30px;
	list-style-type: disc;}

/*images formatting*/
img {margin: 5px; padding: 0px 5px;}
/*img:hover {opacity: 70%;}*/

footer {
	width: 100%;
	height: 100%;
	padding: 10px;
	margin: auto;
	border: 1px solid rgb(235, 200, 114);
    background-color: rgb(235, 200, 114);
	text-align: center;
	font-family: "Helvetica", sans-serif;
}

@media screen and (min-width: 768px)
{
	.aside_main{
		display: grid;
		grid-template-columns: 1fr 1fr;}
}
.bakery_title{text-align: center;}

/*.nav_links
	{display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;}*/